<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1025906985066-no6g1e1b2oajq2uosi4ure1tt7v7i70j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025906985066-no6g1e1b2oajq2uosi4ure1tt7v7i70j</string>
	<key>API_KEY</key>
	<string>AIzaSyATPmF49z6d1rLvmt0WpJAbvlLQkDdpInQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1025906985066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aorjoa.Locker</string>
	<key>PROJECT_ID</key>
	<string>hackathon-7d8c4</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-7d8c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025906985066:ios:d2c59cab4f6e85db</string>
	<key>DATABASE_URL</key>
	<string>https://hackathon-7d8c4.firebaseio.com</string>
</dict>
</plist>